.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(212, 212, 212);
  height: 7rem;
  padding: 0 2rem;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-center {
    margin-left: 140px;
}

.navbar-right {
  gap: 1rem;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo-link img {
  width: 8rem;
  height: 4rem;
  transition: scale 0.1s ease-in;
}

.logo-link img:hover {
  scale: 1.06;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 550;
  transition: transform 0.1s ease-in-out;
}

.login:hover {
  color: #fc9106;
}

.signup {
  border: 1px solid rgb(21, 21, 21);
  border-radius: 10px;
  padding: 0.6rem;
  transition: ease-in 0.1s all;
}

.signup:hover {
  background-color: #fc9106;
  border: 1px solid #fc9106;
}
